* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}
.container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
}

header {
    margin-bottom: 40px;
}

.logo p {
    font-weight: bolder;
    font-family: 'bahnschrift';
    font-size: 20px;
    letter-spacing: 4px;
}

.recovery h1 {
    font-family: 'bahnschrift';
    font-weight:lighter;
    font-size: 28px;
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;

}

form input {
    width: 100%;
    margin: 20px 0px;
    border: none;
    border: 1px solid  grey;
    padding: 20px 0px;
    padding-left: 10px;
    
}

form input::placeholder {
    /* padding-left:15px; */
    color: grey;
    font-family: 'bahnschrift';
    font-weight: lighter;
}

.log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.log button {
    background:rgb(121, 109, 92);
    padding: 20px 10px;
    color: white;
    border: none;
    font-family: 'Bahnschrift';
    width: 100%;
}

.back-to-login {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.back-to-login a {
    color: grey;
    font-family: 'bahnschrift';
    font-weight: lighter;
    font-size: 15px;
}