* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    background: rgb(2, 2, 32);
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 10px;
    color: whitesmoke;
    font-family: 'bahnschrift';
    letter-spacing: 3px;
    font-weight: 900;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.account-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}

.account-settings p {
    font-size: 10px;
    font-family: 'bahnschrift';
    color: grey;
}

.account-settings button {
    border: none;
    background: transparent;
}

.account-settings button img {
    width: 10px;
    
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile p {
    font-size: 10px;
    font-family: 'bahnschrift';
    color: white;
    background:grey;
    padding: 6px;
    border-radius: 50%;
}

.profile button {
    border: none;
    background: transparent;
}

.profile button img {
    width: 10px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.guest-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin: 0px 5px;
}

.guest-list h3 {
    font-size: 13px;
    font-family: 'bahnschrift';
    color: grey;
}

.guest-list img {
    width: 15px;
    margin-bottom: 2px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-text h3 {
    font-family: 'bahnschrift';
    font-weight: lighter;
    font-size: 15px;
}

.input input {
    border: 1px solid rgb(121, 109, 92);
    outline: none;
    padding: 5px;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.input2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 32px;
}

.input2 input {
    border: 1px solid rgb(121, 109, 92);
    outline: none;
    padding: 5px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.btns button {
    background: transparent;
    border: 1px solid rgb(121, 109, 92);
    outline: none;
    padding: 10px 50px;
    font-family: 'bahnschrift';
    color: rgb(121, 109, 92);
}

button.btn {
    background: rgb(121, 109, 92);
    color: white;
    width: 100%;
}