* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    background: rgb(2, 2, 32);
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 10px;
    color: whitesmoke;
    font-family: 'bahnschrift';
    letter-spacing: 3px;
    font-weight: 900;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.account-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}

.account-settings p {
    font-size: 10px;
    font-family: 'bahnschrift';
    color: grey;
}

.account-settings button {
    border: none;
    background: transparent;
}

.account-settings button img {
    width: 10px;
    
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile p {
    font-size: 10px;
    font-family: 'bahnschrift';
    color: white;
    background:grey;
    padding: 6px;
    border-radius: 50%;
}

.profile button {
    border: none;
    background: transparent;
}

.profile button img {
    width: 10px;
}

.template {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
}

.template h3 {
    font-family: 'bahnschrift';
    font-weight: lighter;
    color: grey;
    font-size: 22px;
}



.template-info p {
    margin-top: 15px;
    color: black;
    font-weight: 600;
    font-family: 'bahnschrift';
}

 .template-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 

.email-response {
    /* border: 1px solid black; */
    margin: 0px 10px;
    border-radius: 10px;
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 2px grey;
}

.email-response a {
    color: grey;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    padding: 0px 20px;
}

.email-response a p {
    color: grey;
}